body{
    margin: 0;
    padding: 0;
}
.section{
    width: 2000px;
    height: 596px;
    background: #FFFFFF;
}
div.main{
    width: 1140px;
    height: 596px;
    margin: 0 367px;
    padding: 112px 15px;
    display: flex;
}
div.main div.main-left h3,
div.main .main-right h3{
    width: 570px;
    height: 21px;
    color: #5A0F16;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 0 0 10px;
}
div.main div.main-left p,
div.main .main-right p{
    width: 570px;
    height: 75px;
    margin-bottom: 28px;
    margin-top: 0;
    font-size: 16px;
    line-height: 27px;
}
div.main div.main-left button{
    padding: 12px 20px;
    background: #FF6392;
    text-transform: uppercase;
    border: 0;
}
div.main .main-right{
    width: 540px;
    height: 372px;
    padding: 0 15px;
}
div.main .main-right p input{
    width: 503px;
    height: 18px;
    padding: 7px;
}
div.main .main-right p span{
    color: red;
}
div.main-right button{
    width: 83px;
    height: 33px;
    padding: 11px 19px;
    background: #FF6392;
    border: 0;
}
















